## =================
## Database settings
## =================
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

## ==================
## Optional variables
## ==================
# DB_HOST=localhost
# DB_PREFIX=cd_

## =======================================================
## Environment and base URL
## Set WP_ENV to one of development, staging or production
## =======================================================
WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

## ================================
## Set update behaviour
## Optional. Set WP_AUTO_UPDATE to:
## true:    All updates
## minor:   Only minor WP updates
## false:   No updates (default)
## ================================
# WP_AUTO_UPDATE_CORE=true
# DISABLE_WP_CRON=false
# AUTOMATIC_UPDATER_DISABLED=false
# WP_UPDATE_PLUGINS=true

## =============================================================================
## Be sure to generate a salt ( https://api.wordpress.org/secret-key/1.1/salt/ )
## =============================================================================
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

## ============================================================
## Support email. Multiple values divided by commas are allowed
## ============================================================
# SUPPORT_MAIL=mail@example.com