# Git specific
.*
!/.gitignore

# WP Plugin / Theme files
## Plugins
public_html/content/plugins/*
!public_html/content/plugins/.gitkeep
## Must-use plugins
public_html/content/mu-plugins/*/
## Upgrades & uploads
public_html/content/upgrade
public_html/content/uploads/*
!public_html/content/uploads/.gitkeep
## Themes
public_html/content/themes/*/
!public_html/content/themes/base

# WordPress
public_html/.htaccess
public_html/wp
public_html/index.php

# Config files
!/.env.example

# Composer
vendor/*
!vendor/.gitkeep

# C9.io specific
php.ini