# Git specific
.*
!/.gitignore

# Plugin / Theme files
## Plugins
public_html/content/plugins/*
!public_html/content/plugins/.gitkeep
## Must-use plugins
public_html/content/mu-plugins/*/
## Upgrades & uploads
public_html/content/upgrade
public_html/content/uploads/*
!public_html/content/uploads/.gitkeep
## Themes
public_html/content/themes/*/
!public_html/content/themes/base
public_html/content/themese/base/lib

# WordPress
public_html/.htaccess
public_html/wp
public_html/index.php

# Config files
config/environment/*
!config/environment/*.sample.php

# Composer
vendor/*
!vendor/.gitkeep

# C9 specific
php.ini